@import "../../App.scss";

.hero {
  .title {
    font-family: "Montserrat-Black";
    font-size: 48px;
    line-height: 58px;
    color: $biru-tua;
  }
}
.content {
  .title {
    font-family: "Montserrat-Bold";
    font-size: 48px;
    line-height: 58px;
    color: $biru-tua;
  }
}

.description {
  .title {
    font-family: "Montserrat-Bold";
    font-size: 48px;
    line-height: 58px;
    color: $biru-tua;
  }
}
.subtitle {
  font-family: "Hind-Light";
  font-size: 18px;
  color: $abu-tua;
}

@media screen and (max-width: 768px) {
  .hero {
    text-align: center;
    padding-top: 2.5rem;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .content {
    text-align: center;
    padding-top: 2.5rem;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .description {
    text-align: center;
    padding-top: 2.5rem;
    .title {
      font-size: 30px;
      line-height: 36px;
    }
  }
  .subtitle {
    font-size: 16px;
  }
}
