@import "../App.scss";

.register {
  .title {
    color: $biru-tua;
    h1 {
      font-family: "Montserrat-ExtraBold";
    }
    h5 {
      font-family: "Hind-Light";
    }
  }

  .form {
    label {
      font-family: "MuktaVaani-Medium";
      color: $biru-tua;
    }
  }
}

@media screen and (max-width: 768px) {
}
